<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Discord Auth</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    {% if user %}
        <div>
            <h1>You are currently under the account - {{ user.username }}#{{ user.discriminator }}</h1>
            <p><a href="{{ url_for('profile') }}">My Profile</a></p>
        </div>
    {% else %}
        <div>
            <h1>Discord Authorization</h1>
            <p><a href="{{ auth_url }}">Login</a></p>
        </div>
    {% endif %}

</body>
</html>
